---
layout: default
title: "Hella Simple Eleventy + Tailwind Starter"
description: "This page has freebie from Tailwind UI."
---
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-gray-50">
  <div class="max-w-7xl sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between px-4 py-12 mx-auto">
    <h2 class="sm:text-4xl text-3xl font-extrabold tracking-tight text-gray-900">
      <span class="block">Ready to dive in?</span>
      <span class="block text-indigo-600">Start your free trial today.</span>
    </h2>
    <div class="lg:mt-0 lg:flex-shrink-0 flex mt-8">
      <div class="inline-flex rounded-md shadow">
        <a href="#" class="hover:bg-indigo-700 inline-flex items-center justify-center px-5 py-3 text-base font-medium text-white bg-indigo-600 border border-transparent rounded-md">
          Get started
        </a>
      </div>
      <div class="inline-flex ml-3 rounded-md shadow">
        <a href="#" class="hover:bg-indigo-50 inline-flex items-center justify-center px-5 py-3 text-base font-medium text-indigo-600 bg-white border border-transparent rounded-md">
          Learn more
        </a>
      </div>
    </div>
  </div>
</div>
