---
layout: default
title: "Hella Simple Eleventy + Tailwind CSS Starter"
description: "This page has a freebie from Tailwind UI."
---
<div class="bg-gray-50">
  <div class="mx-auto max-w-7xl px-4 py-12 sm:px-6 lg:flex lg:items-center lg:justify-between lg:px-8 lg:py-16">
    <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
      <span class="block">Hella Simple</span>
      <span class="block text-indigo-600">Eleventy + Tailwind CSS</span>
    </h2>
    <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
      <div class="inline-flex rounded-md shadow">
        <a href="https://www.11ty.dev/" class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-5 py-3 text-base font-medium text-white hover:bg-indigo-700">Eleventy</a>
      </div>
      <div class="ml-3 inline-flex rounded-md shadow">
        <a href="https://tailwindcss.com/" class="inline-flex items-center justify-center rounded-md border border-transparent bg-white px-5 py-3 text-base font-medium text-indigo-600 hover:bg-indigo-50"> Tailwind CSS</a>
      </div>
    </div>
  </div>
</div>
<p class="p-4 text-center"><a class="text-gray-700 hover:underline" href="https://github.com/huphtur/hella-simple-eleventy-tailwind-starter">View on GitHub</a></p>